<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testcases.usercases"/>
      <class name="Testcases.apicases"/>
      <class name="Testcases.dashboardcases"/>
      <class name="Testcases.hierarchicaldashboardcases"/>
      <class name="Testcases.roleandaccesscases"/>
      <class name="Testcases.groupcases"/>
      <class name="Testcases.logincases"/>
      <class name="Testcases.simaliasuploadcases"/>
      <class name="Testcases.simallocationcases"/>
      <class name="Testcases.managesimscases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
